html{scroll-behavior: smooth;}
.websiteBody{
    margin: 0;
  }.Page{
    display:block;
    margin:auto;
    width:100%;
    height:auto;
    pointer-events:auto;
  }
  .Page-outer{
    z-index:1;
  }
  .Frame{
    position:relative;
    z-index:2;
    width:100%;
    margin-left:0;
    height:4820px;
    min-width:200px;
    max-width:1512px;
    margin:auto;
    background-color:rgba(237, 228, 222, 1);
    overflow:hidden;
  }
  .Frame-outer{
    z-index:2;
  }
  .scroll-top {
    background: #A68A72;
    border: 0;
    border-radius: 50%;
    bottom: 0;
    cursor: pointer;
    height: 50px;
    margin: 15px;
    opacity: 0.75;
    position: fixed;
    right: 5px;
    transition: right 0.2s ease-in-out;
    width: 50px;
    z-index: 99;
    transform: scale(0.9);
  }
  .scroll-top.visible {
    right: 0;
  }
  .scroll-top:hover {
    transform: scale(1);
  }
  .arrow {
    border: solid rgba(40, 28, 27);
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-top: 5px;
    padding: 4px;
  }
  .arrow.up {  
    transform: rotate(-135deg);
  }
  .LUJO{
    position:relative;
    z-index:7;
    margin-left:98px;
    width:93px;
    min-width:93px;
    margin-top:46px;
    margin-bottom:4727px;
    min-height:47px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Klee One;
    font-weight:400;
    font-size:32px;
    line-height:46px;
  }
  .LUJO-outer{
    pointer-events:none;
    z-index:7;
    position:relative;
    display:flex;
  }
  .About{
    position:absolute;
    z-index:37;
    margin-left:1219px;
    width:63px;
    min-width:63px;
    margin-top:-4780px;
    margin-bottom:4720px;
    min-height:47px;
    text-align:left;
    display:flex;
    font-style:normal;
    font-family:Poppins;
    
    line-height:30px;
  }
  .About li{    list-style: none;
  }
  .About a{    color:rgba(40, 28, 27, 1);    text-decoration: none;
    font-weight:300;
    font-size:20px;
  }
  .About ul li a:hover{    
    font-size:23px;
    color:rgb(255, 255, 255);   
  }
  .Team{
    position:relative;
    z-index:36;
    margin-left:1109px;
    width:74px;
    min-width:74px;
    margin-top:-4785px;
    margin-bottom:4720px;
    min-height:47px;
    display:flex;
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:20px;
    line-height:30px;
  }
  .Team li{    list-style: none;
  }
  .Team a{    color:rgba(40, 28, 27, 1);    text-decoration: none;
    font-weight:300;
    font-size:20px;
  }
  .Team ul li a:hover{    
    font-size:23px;
    color:rgb(255, 255, 255);   
  }
  
  .Gallery{
    position:absolute;
    z-index:35;
    margin-left:988px;
    width:86px;
    min-width:86px;
    margin-top:-4790px;
    margin-bottom:4720px;
    min-height:47px;
    display:flex;
   
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:20px;
    line-height:30px;
  }
  .Gallery li{    list-style: none;
  }
  .Gallery a{    color:rgba(40, 28, 27, 1);    text-decoration: none;
    font-weight:300;
    font-size:20px;
  }
  .Gallery ul li a:hover{    
    font-size:23px;
    color:rgb(255, 255, 255);   
  }
  .Home{
    position:relative;
    z-index:34;
    margin-left:756px;
    width:60px;
    min-width:60px;
    margin-top:-4790px;
    margin-bottom:4720px;
    min-height:47px;
    display:flex;
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:20px;
    line-height:30px;
  }
  .Home li{    list-style: none;
  }
  .Home a{    color:rgba(40, 28, 27, 1);    text-decoration: none;
    font-weight:300;
    font-size:20px;
  }
  .Home ul li a:hover{    
    font-size:23px;
    color:rgb(255, 255, 255);   
  }
  .Services{
    position:relative;
    z-index:33;
    margin-left:860px;
    width:84px;
    min-width:84px;
    margin-top:-4786px;
    margin-bottom:4720px;
    min-height:47px;
    display:flex;    
    font-style:normal;
    font-family:Poppins;
    line-height:30px;
  }
  .Services li{    list-style: none;
  }
  .Services a{    color:rgba(40, 28, 27, 1);    text-decoration: none;
    font-weight:300;
    font-size:20px;
  }
  .Services ul li a:hover{    color:rgb(255, 255, 255);  
    font-size:23px;
 
  }
  .Book-now{
    position:relative;
    z-index:32;
    margin-left:1328px;
    width:150px;
    min-width:101px;
    margin-top:-4785px;
    margin-bottom:4720px;
    min-height:47px;
    display:flex;
    font-style:normal;
    font-family:Poppins;
    line-height:30px;
  }
  .Book-now a{    color:rgba(40, 28, 27, 1);    text-decoration: none;
    font-weight:300;
    font-size:20px;
  }
  .Book-now li{    list-style: none;
  }
  .Book-now ul li a:hover{    color:rgb(255, 255, 255);
    font-size:23px;
   
  }
  .ali-pazani-3w14X-Yxf{
    position:absolute;
    z-index:9;
    pointer-events:none;
    margin-left:418px;
    width:1094px;
    min-width:1094px;
    height:726px;
    margin-top: -4666px;
    margin-bottom: -3954px;
    min-height:726px;
    content:url(assets/images/ali_pazani_3w14X_Yxffk_unsplash_removebg_preview_1.png);
  }
  .ali-pazani-3w14X-Yxf-outer{
    pointer-events:none;
    justify-content: flex-end;
    z-index:9;
    position:relative;
    display:flex;
  }
  .A-whole-new-you--Our{
    position:relative;
    z-index:10;
    pointer-events:none;
    margin-left:16px;
    width:583px;
    min-width:583px;
    margin-top:-4468px;
    margin-bottom:4300px;
    min-height:168px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:36px;
    line-height:55px;
  }
  .A-whole-new-you--Our-outer{
    pointer-events:none;
    z-index:10;
    position:relative;
    display:flex;
  }
  .Rectangle-1{
    position:relative;
    z-index:6;
    pointer-events:none;
    margin-left:189px;
    width:236px;
    min-width:236px;
    height:66px;
    margin-top:-4280px;
    margin-bottom:4214px;
    min-height:66px;
    background-color:rgba(211, 199, 191, 1);
  }
  .Rectangle-1-outer{
    pointer-events:none;
    z-index:6;
    position:relative;
    display:flex;
  }
  .Book-now-1{
    position:relative;
    z-index:8;
    margin-left:204px;
    width:172px;
    min-width:172px;
    margin-top:-4276px;
    margin-bottom:4235px;
    min-height:41px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(255, 249, 242, 1);
    font-style: normal;
    font-family:Poppins;
    line-height:55px;
    
  }
  .Book-now-1-outer{
    z-index:8;
    position:relative;
    display:flex;
  }
  .Book-now-1 a{        
    color:rgba(255, 249, 242, 1);
    text-decoration: none;
    font-weight:lighter;
    font-size:35px;
  }
  .Book-now-1 a:hover{       
    text-decoration: none;
     font-weight:300;
     font-size:36px;
   }
  .Next{
    position:absolute;
    z-index:28;
    pointer-events:none;
    margin-left:384px;
    width:26.08px;
    min-width:26.08px;
    height:23.04px;
    margin-top:-4271px;
    margin-bottom:4234.96px;
    min-height:23.04px;
  }
  .Next-outer{
    pointer-events:none;
    z-index:28;
    position:relative;
    display:flex;
  }
  .Group{
    position:relative;
    z-index:29;
    pointer-events:none;
    margin-left:0px;
    width:26.08px;
    min-width:26.08px;
    height:23.04px;
    margin-top:0px;
    margin-bottom:0px;
    min-height:23.04px;
  }
  .Group-outer{
    pointer-events:none;
    z-index:29;
    position:relative;
    display:flex;
  }
  .Vector{
    position:relative;
    z-index:31;
    pointer-events:none;
    margin-left:-3.8343558282208643%;
    width:104.63957055214739%;
    height:8.680555555555555%;
    margin-top:40.177914110429505%;
    content:url(assets/images/Vector.png);
  }
  .Vector-outer{
    pointer-events:none;
    z-index:31;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .Vector-1{
    position:relative;
    z-index:30;
    pointer-events:none;
    margin-left:57.51533742331288%;
    width:47.04754601226993%;
    height:108.68055555555556%;
    margin-top:-3.8343558282208585%;
    content:url(assets/images/Vector_1.png);
  }
  .Vector-1-outer{
    pointer-events:none;
    z-index:30;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .Rectangle-4{
    position:relative;
    z-index:3;
    pointer-events:none;
    margin-left:581px;
    margin-top: 866px;
    width:931px;
    min-width:931px;
    height:866px;
    margin-top:-3954px;
    margin-bottom:3088px;
    min-height:866px;
    background-color:rgba(217, 198, 194, 1);
  }
  .Rectangle-4-outer{
    pointer-events:none;
    z-index:3;
    position:relative;
    display:flex;
  }
  .Mask-hair-color-esse{
    position:relative;
    z-index:13;
    pointer-events:none;
    margin-left:0px;
    width:828px;
    min-width:828px;
    height:817px;
    margin-top:-3933px;
    margin-bottom:3116px;
    min-height:817px;
    content:url(assets/images/Mask_hair_color_essentials_1.png);
  }
  .Mask-hair-color-esse-outer{
    pointer-events:none;
    z-index:13;
    position:relative;
    display:flex;
  }
  .Our-Services-Our-del{
    position:absolute;
    z-index:11;
    margin-left:901px;
    width:543px;
    min-width:543px;
    margin-top:-3890px;
    margin-bottom:3000px;
    min-height:656px;
    text-align:center;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:40px;
    text-align: center;
    line-height:60px;
  }
  .Our-Services-Our-del-outer{
    z-index:11;
    position:relative;
    display:flex;
  }
  .Our-Services-Our-del-1{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:36px;
    line-height:20px;
  }
  .Our-Services-Our-del-2{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:36px;
    line-height:20px;
  }
  .Our-Services-Our-del-span2 a{    color:rgba(40, 28, 27, 1);   
   text-decoration: none;
    font-weight:300;
    font-size:30px;
  }
  .Our-Services-Our-del-span2 a:hover{       
    text-decoration: none;
     font-weight:300;
     font-size:33px;
   }
  .Rectangle-6{
    border: solid rgba(40, 28, 27, 1);
    position:absolute;
    z-index:5;
    pointer-events:none;
    margin-left:965px;
    margin-top:1562px;
    width:412px;
    min-width:367px;
    height:62px;
    margin-top: -3230px;
    margin-bottom:3196px;
    min-height:62px;
    background-color:transparent;
  }
  .Rectangle-6-outer{
    pointer-events:none;
    z-index:5;
    position:relative;
    display:flex;
  }
  .Gallery-1{
    position:absolute;
    z-index:12;
    pointer-events:none;
    margin-left:479px;
    width:543px;
    min-width:543px;
    margin-top:-3087px;
    margin-bottom:3043px;
    min-height:44px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:40px;
    line-height:60px;
  }
  .Gallery-1-outer{
    pointer-events:none;
    z-index:12;
    position:relative;
    display:flex;
  }
  .q40-Newest-Haircuts-{
    position:relative;
    z-index:24;
    pointer-events:none;
    margin-left:347px;
    width:274px;
    min-width:274px;
    height:397px;
    margin-top:-3022px;
    margin-bottom:2625px;
    min-height:397px;
    content:url(assets/images/blond.png);
  }
  .q40-Newest-Haircuts--outer{
    pointer-events:none;
    z-index:24;
    position:relative;
    display:flex;
  }
  .q--Imagine-Ladybug--{
    position:relative;
    z-index:21;
    pointer-events:none;
    margin-left:1165px;
    width:274px;
    min-width:274px;
    height:397px;
    margin-top:-3022px;
    margin-bottom:2625px;
    min-height:397px;
    content:url(assets/images/kid.png);
  }
  .q--Imagine-Ladybug---outer{
    pointer-events:none;
    z-index:21;
    position:relative;
    display:flex;
  }
  .Cortes-de-cabelo-lon{
    position:relative;
    z-index:16;
    pointer-events:none;
    margin-left:617px;
    width:274px;
    min-width:274px;
    height:397px;
    margin-top:-3022px;
    margin-bottom:2625px;
    min-height:397px;
    content:url(assets/images/Cortes_de_cabelo_longo__80_ideias_de_corte_para_atingir_o_longo_perfeito_1.png);
  }
  .Cortes-de-cabelo-lon-outer{
    pointer-events:none;
    z-index:16;
    position:relative;
    display:flex;
  }
  .q-------------------{
    position:relative;
    z-index:14;
    pointer-events:none;
    margin-left:73px;
    width:274px;
    min-width:274px;
    height:397px;
    margin-top:-3022px;
    margin-bottom:2625px;
    min-height:397px;
    content:url(assets/images/img1.png);
  }
  .q--------------------outer{
    pointer-events:none;
    z-index:14;
    position:relative;
    display:flex;
  }
  .q---Pre-fe-rence-Tee{
    position:relative;
    z-index:23;
    pointer-events:none;
    margin-left:1165px;
    width:274px;
    min-width:274px;
    height:397px;
    margin-top:-2625px;
    margin-bottom:2228px;
    min-height:397px;
    content:url(assets/images/img2.png);
  }
  .q---Pre-fe-rence-Tee-outer{
    pointer-events:none;
    z-index:23;
    position:relative;
    display:flex;
  }
  .q9-Ways-Grown-Ups-Ca{
    position:relative;
    z-index:22;
    pointer-events:none;
    margin-left:73px;
    width:274px;
    min-width:274px;
    height:397px;
    margin-top:-2625px;
    margin-bottom:2228px;
    min-height:397px;
    content:url(assets/images/pink.png);
  }
  .q9-Ways-Grown-Ups-Ca-outer{
    pointer-events:none;
    z-index:22;
    position:relative;
    display:flex;
  }
  .q30-Dirty-Blonde-Hai{
    position:relative;
    z-index:20;
    pointer-events:none;
    margin-left:891px;
    width:274px;
    min-width:274px;
    height:397px;
    margin-top:-3022px;
    margin-bottom:2228px;
    min-height:397px;
    content:url(assets/images/jean.png);
  }
  .q30-Dirty-Blonde-Hai-outer{
    pointer-events:none;
    z-index:20;
    position:relative;
    display:flex;
  }
  .q30-raisons-de-succo{
    position:relative;
    z-index:19;
    pointer-events:none;
    margin-left:891px;
    width:274px;
    min-width:274px;
    height:397px;
    margin-top:-2625px;
    margin-bottom:2228px;
    min-height:397px;
    content:url(assets/images/green.png);
  }
  .q30-raisons-de-succo-outer{
    pointer-events:none;
    z-index:19;
    position:relative;
    display:flex;
  }
  .q50-Cute-and-Effortl{
    position:relative;
    z-index:18;
    pointer-events:none;
    margin-left:621px;
    width:270px;
    min-width:270px;
    height:397px;
    margin-top:-2625px;
    margin-bottom:2228px;
    min-height:397px;
    content:url(assets/images/es.png);
  }
  .q50-Cute-and-Effortl-outer{
    pointer-events:none;
    z-index:18;
    position:relative;
    display:flex;
  }
  .Portfolio---Johnny-R{
    position:relative;
    z-index:15;
    pointer-events:none;
    margin-left:617px;
    width:274px;
    min-width:274px;
    height:397px;
    margin-top:-2625px;
    margin-bottom:2228px;
    min-height:397px;
  }
  .Portfolio---Johnny-R-outer{
    pointer-events:none;
    z-index:15;
    position:relative;
    display:flex;
  }
  .q10-Hair-Trends-We-A{
    position:relative;
    z-index:17;
    pointer-events:none;
    margin-left:347px;
    width:274px;
    min-width:274px;
    height:397px;
    margin-top:-2625px;
    margin-bottom:1831px;
    min-height:397px;
    content:url(assets/images/grey.png);
  }
  .q10-Hair-Trends-We-A-outer{
    pointer-events:none;
    z-index:17;
    position:relative;
    display:flex;
  }
  .Rectangle-8{
    position:absolute;
    z-index:38;
    pointer-events:none;
    margin-left:2px;
    width:1512px;
    min-width:1512px;
    height:990px;
    margin-top:-2207px;
    margin-bottom:1268px;
    min-height:939px;
    background-color:rgba(223, 219, 208, 1);
  }
  .Rectangle-8-outer{
    pointer-events:none;
    z-index:38;
    position:relative;
    display:flex;
  }
  .Meet-Our-Team{
    position:relative;
    z-index:43;
    pointer-events:none;
    margin-left:478px;
    width:543px;
    min-width:543px;
    margin-top:-2194px;
    margin-bottom:2150px;
    min-height:44px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:40px;
    line-height:60px;
  }
  .Meet-Our-Team-outer{
    pointer-events:none;
    z-index:43;
    position:relative;
    display:flex;
  }
  .q7-Transformative-Pr{
    position:relative;
    z-index:48;
    pointer-events:none;
    margin-left:1000px;
    width:265px;
    min-width:265px;
    height:339px;
    margin-top:-2117px;
    margin-bottom:1778px;
    min-height:339px;
    content:url(assets/images/jess.png);
  }
  .q7-Transformative-Pr-outer{
    pointer-events:none;
    z-index:48;
    position:relative;
    display:flex;
  }
  .ab11f4c7-e728-4bd2-b{
    position:relative;
    z-index:47;
    pointer-events:none;
    margin-left:251px;
    width:259px;
    min-width:259px;
    height:339px;
    margin-top:-2117px;
    margin-bottom:1778px;
    min-height:339px;
    content:url(assets/images/ab11f4c7_e728_4bd2_b99d_208c4a52ab3c_1.png);
  }
  .ab11f4c7-e728-4bd2-b-outer{
    pointer-events:none;
    z-index:47;
    position:relative;
    display:flex;
  }
  .q1-Tip-on-Being-Vers{
    position:relative;
    z-index:46;
    pointer-events:none;
    margin-left:620px;
    width:259px;
    min-width:259px;
    height:339px;
    margin-top:-2117px;
    margin-bottom:1778px;
    min-height:339px;
    content:url(assets/images/ashy.png);
  }
  .q1-Tip-on-Being-Vers-outer{
    pointer-events:none;
    z-index:46;
    position:relative;
    display:flex;
  }
  .Windy-Riggs-Extensio{
    position:relative;
    z-index:53;
    pointer-events:none;
    margin-left:287px;
    width:186px;
    min-width:186px;
    margin-top:-1767px;
    margin-bottom:1723px;
    min-height:44px;
    text-align:center;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .Windy-Riggs-Extensio-outer{
    pointer-events:none;
    z-index:53;
    position:relative;
    display:flex;
  }
  .Windy-Riggs-Extensio-1{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .Windy-Riggs-Extensio-2{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:20px;
    line-height:24px;
  }
  .Ashley-Murphy-Colour{
    position:relative;
    z-index:52;
    pointer-events:none;
    margin-left:662px;
    width:186px;
    min-width:186px;
    margin-top:-1767px;
    margin-bottom:1723px;
    min-height:44px;
    text-align:center;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .Ashley-Murphy-Colour-outer{
    pointer-events:none;
    z-index:52;
    position:relative;
    display:flex;
  }
  .Ashley-Murphy-Colour-1{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .Ashley-Murphy-Colour-2{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:20px;
    line-height:24px;
  }
  .Jessy-Yan-Hair-Styli{
    position:relative;
    z-index:39;
    pointer-events:none;
    margin-left:1040px;
    width:186px;
    min-width:186px;
    margin-top:-1767px;
    margin-bottom:1723px;
    min-height:44px;
    text-align:center;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .Jessy-Yan-Hair-Styli-outer{
    pointer-events:none;
    z-index:39;
    position:relative;
    display:flex;
  }
  .Jessy-Yan-Hair-Styli-1{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .Jessy-Yan-Hair-Styli-2{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:20px;
    line-height:24px;
  }
  .q---2--1{
    position:relative;
    z-index:51;
    pointer-events:none;
    margin-left:248px;
    width:265px;
    min-width:265px;
    height:339px;
    margin-top:-1697px;
    margin-bottom:1358px;
    min-height:339px;
    content:url(assets/images/jaz.png);
  }
  .q---2--1-outer{
    pointer-events:none;
    z-index:51;
    position:relative;
    display:flex;
  }
  .Download-premium-psd{
    position:relative;
    z-index:50;
    pointer-events:none;
    margin-left:615px;
    width:261px;
    min-width:261px;
    height:339px;
    margin-top:-1697px;
    margin-bottom:1358px;
    min-height:339px;
    content:url(assets/images/Download_premium_psd___image_of_Cheerful_stylist_standing_against_a_white_wall_b.png);
  }
  .Download-premium-psd-outer{
    pointer-events:none;
    z-index:50;
    position:relative;
    display:flex;
  }
  .Pound-Ridge-Woman-Un{
    position:relative;
    z-index:49;
    pointer-events:none;
    margin-left:1000px;
    width:265px;
    min-width:265px;
    height:339px;
    margin-top:-1697px;
    margin-bottom:1358px;
    min-height:339px;
    content:url(assets/images/Pound_Ridge_Woman_Unearths_Model_Mom_s_Mental_Illness_In_Tell_All_Book_1.png);
  }
  .Pound-Ridge-Woman-Un-outer{
    pointer-events:none;
    z-index:49;
    position:relative;
    display:flex;
  }
  .christian-buehner-DI{
    position:relative;
    z-index:44;
    pointer-events:none;
    margin-left:884px;
    width:236px;
    min-width:236px;
    height:247px;
    margin-top:-1640px;
    margin-bottom:1393px;
    min-height:247px;
  }
  .christian-buehner-DI-outer{
    pointer-events:none;
    z-index:44;
    position:relative;
    display:flex;
  }
  .Closeup-portrait-of-{
    position:relative;
    z-index:45;
    pointer-events:none;
    margin-left:722px;
    width:270px;
    min-width:270px;
    height:333px;
    margin-top:-1601px;
    margin-bottom:1268px;
    min-height:333px;
  }
  .Closeup-portrait-of--outer{
    pointer-events:none;
    z-index:45;
    position:relative;
    display:flex;
  }
  .Catherine-Fox-Hair-S{
    position:relative;
    z-index:42;
    pointer-events:none;
    margin-left:1040px;
    width:186px;
    min-width:186px;
    margin-top:-1347px;
    margin-bottom:1303px;
    min-height:44px;
    text-align:center;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .Catherine-Fox-Hair-S-outer{
    pointer-events:none;
    z-index:42;
    position:relative;
    display:flex;
  }
  .Catherine-Fox-Hair-S-1{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .Catherine-Fox-Hair-S-2{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:20px;
    line-height:24px;
  }
  .Jasmine-Grey-Extensi{
    position:relative;
    z-index:41;
    pointer-events:none;
    margin-left:287px;
    width:186px;
    min-width:186px;
    margin-top:-1347px;
    margin-bottom:1303px;
    min-height:44px;
    text-align:center;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .Jasmine-Grey-Extensi-outer{
    pointer-events:none;
    z-index:41;
    position:relative;
    display:flex;
  }
  .Jasmine-Grey-Extensi-1{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .Jasmine-Grey-Extensi-2{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:20px;
    line-height:24px;
  }
  .Cally-Ross-Colourist{
    position:relative;
    z-index:40;
    pointer-events:none;
    margin-left:662px;
    width:186px;
    min-width:186px;
    margin-top:-1347px;
    margin-bottom:1303px;
    min-height:44px;
    text-align:center;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .Cally-Ross-Colourist-outer{
    pointer-events:none;
    z-index:40;
    position:relative;
    display:flex;
  }
  .Cally-Ross-Colourist-1{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:400;
    font-size:20px;
    line-height:24px;
  }
  .Cally-Ross-Colourist-2{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:20px;
    line-height:24px;
  }
  .q--1{
    position:relative;
    z-index:26;
    pointer-events:none;
    margin-left:850px;
    width:662px;
    min-width:662px;
    height:866px;
    margin-top:-1268px;
    margin-bottom:402px;
    min-height:866px;
    content:url(assets/images/salon.png);
  }
  .q--1-outer{
    pointer-events:none;
    z-index:26;
    position:relative;
    display:flex;
  }
  .Rectangle-9{
    position:relative;
    z-index:4;
    pointer-events:none;
    margin-left:2px;
    width:849px;
    min-width:849px;
    height:866px;
    margin-top:-1268px;
    margin-bottom:402px;
    min-height:866px;
    background-color:rgba(234, 222, 206, 1);
  }
  .Rectangle-9-outer{
    pointer-events:none;
    z-index:4;
    position:relative;
    display:flex;
  }
  .Our-Story-LUJO-is-a-{
    position:absolute;
    z-index:25;
    pointer-events:none;
    margin-left:124px;
    width:592px;
    min-width:592px;
    margin-top:-1165px;
    margin-bottom:3000px;
    min-height:715px;
    text-align:center;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:38px;
    line-height:35px;
    text-align: center;

  }
  .Our-Story-LUJO-is-a--outer{
    pointer-events:none;
    z-index:25;
    position:relative;
    display:flex;
  }
  .Our-Story-LUJO-is-a--1{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:36px;
    line-height:35px;
  }
  .Our-Story-LUJO-is-a--2{
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Poppins;
    font-weight:300;
    font-size:32px;
    line-height:35px;
  }
  .Rectangle{
    position:relative;
    z-index:6;
    width:1512px;
    min-width:236px;
    height:396.64px;
    margin-top:-402px;
    min-height:66px;
    background-color:rgb(255, 255, 255);
  }
  .Rectangle-outer{
    z-index:6;
    position:relative;
    display:flex;}
  .line-1{
    position:absolute;
    z-index:6;
    pointer-events:none;
    margin-left:1006px;
    width:1px;
    min-width:1px;
    height:396.64px;
    margin-top:-402px;
    min-height:66px;
    background-color:rgba(211, 199, 191, 1);
  }
  .line-1-outer{
    pointer-events:none;
    z-index:6;
    position:relative;
    display:flex;
  }
  .line-2{
    position:absolute;
    z-index:6;
    pointer-events:none;
    margin-left:503px;
    width:1px;
    min-width:1px;
    height:396.64px;
    margin-top:-402px;
    min-height:66px;
    background-color:rgba(211, 199, 191, 1);
  }
  .line-2-outer{
    pointer-events:none;
    z-index:6;
    position:relative;
    display:flex;
  }
  .LUJO-f{
    position:absolute;
    z-index:7;
    margin-left:714px;
    width:83px;
    min-width:83px;
    margin-top:-385px;
    margin-bottom:4727px;
    min-height:29px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(40, 28, 27, 1);
    font-style:normal;
    font-family:Klee One;
    font-weight:400;
    font-size:32px;
    line-height:46px;
  }
    .LUJO-f-outer{
      z-index:7;
      position:relative;
      display:flex;
    }
    .opening{
      position:absolute;
      z-index:10;
      margin-left:-130px;
      width:343px;
      min-width:343px;
      margin-top:85px;
      margin-bottom:4300px;
      min-height:108px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(40, 28, 27, 1);
      font-style:normal;
      font-family:Poppins;
      font-weight:300;
      font-size:22px;
      line-height:28px;
      opacity: 0.75;
    }
    .opening-outer{
      z-index:10;
      position:relative;
      display:flex;
    }
    .home-ser{
      position:absolute;
      z-index:10;
      margin-left:-194.5px;
      width:465px;
      min-width:470px;
      margin-top:240.75px;
      margin-bottom:4300px;
      min-height:18px;
      font-style:normal;
      font-family:Poppins;
      font-weight:300;
      font-size:16px;
      line-height:20px;
    }
    .home-ser-outer{
      z-index:10;
      display:flex;
    }
    .home-ser a{   
      color:rgba(40, 28, 27, 1);     
      text-decoration: none;
      font-weight:300;
      opacity: 0.75;
      cursor: pointer;
    }
    
    .all-right{
      position:absolute;
      z-index:10;
      pointer-events:none;
      margin-left:-172.5px;
      width:427px;
      min-width:427px;
      margin-top:280.75px;
      margin-bottom:4300px;
      min-height:18px;
      color:rgba(40, 28, 27, 1);
      font-style:normal;
      font-family:Poppins;
      font-weight:300;
      font-size:13px;
      line-height:20px;
      opacity: 0.65;
    }
    .all-right-outer{
      pointer-events:none;
      z-index:10;
      display:flex;
    }
    .adress{
      position:absolute;
      z-index:10;
      pointer-events:none;
      margin-left:-680px;
      width:333px;
      min-width:427px;
      margin-top:92px;
      margin-bottom:4300px;
      min-height:37.35px;
      color:rgba(40, 28, 27, 1);
      font-style:normal;
      text-align:center;
      font-family:Poppins;
      font-weight:300;
      font-size:20px;
      line-height:36px;
      opacity: 0.75;
    }
    .adress-outer{
      pointer-events:none;
      z-index:10;
      display:flex;
    }
    .contact11{
      position:absolute;
      z-index:10;
      pointer-events:none;
      margin-left:-680px;
      width:333px;
      min-width:427px;
      margin-top:200px;
      margin-bottom:4300px;
      min-height:23px;
      color:rgba(40, 28, 27, 1);
      font-style:normal;
      text-align:center;
      font-family:Poppins;
      font-weight:300;
      font-size:16px;
      line-height:22px;
      opacity: 0.75;
    }
    .contact11-outer{
      pointer-events:none;
      z-index:10;
      display:flex;
      text-align:center;
    }
    .follow{
      position:absolute;
      z-index:10;
      pointer-events:none;
      margin-left:380px;
      width:330px;
      min-width:330px;
      margin-top:100px;
      margin-bottom:4300px;
      min-height:134px;
      color:rgba(40, 28, 27, 1);
      font-style:normal;
      text-align:center;
      font-family:Poppins;
      font-weight:300;
      font-size:23px;
      line-height:20px;
      opacity: 0.75;
    }
    .follow-outer{
      pointer-events:none;
      z-index:10;
      display:flex;
      text-align:center;
    }
    .insta{
      position:absolute;
      z-index:31;
      margin-left:510px;
      width:29px;
      height:27.36px;
      margin-top:125px;
      content:url(assets/images/insta.png);
    }
    .insta-outer{
      z-index:31;
      position:absolute;
      display:flex;
      width:29px;
      height:27.36;
      left:0;
      top:0;
    }
    .face{
      position:absolute;
      z-index:31;
      margin-left:545px;
      width:29px;
      height:27.37px;
      margin-top:125px;
      content:url(assets/images/face.png);
    }
    .face-outer{
      z-index:31;
      position:absolute;
      display:flex;
      width:29px;
      height:27.36;
      left:0;
      top:0;
    }
